
@{
    ViewBag.Title = "ConfirmationSent";
}
<main class="main">
    <div class="container view-content">
        <h2>ConfirmationSent</h2>
        <p>Thank you for confirmation your email!</p>

    </div>
</main>
