<appSettings>
  <add key="SendGridPassword" value="xxvXeG0H8qrXcJj"/>
  <add key="ContactEmail" value="abigailwwest@gmail.com"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppId" value="1045584822175741"/>
  <add key="FacebookSecret" value="40e247bd34f4ec7a0c1127c619af97ed"/>
  <add key="GoogleAppId" value="211137990944-gu33fjl4a9dktjjmae4baqolkpgg6038.apps.googleusercontent.com"/>
  <add key="GoogleSecret" value="Qo_V-nAVEqnaRnOjvTE2RE6J"/>
  <add key="LinkedInAppId" value="770eb5hj1aomki"/>
  <add key="LinkedInSecret" value="NXGAiImWlfgT6ttn"/>
</appSettings>