@{
    ViewBag.Title = "About";
}

<main class="main">
    <section class="container view-content">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 text-center technologies">
                <img src="~/Images/icon-c.png" class="img-responsive img-circle" alt="C#">
                <img src="~/Images/icon-mvc.png" class="img-responsive img-circle" alt="ASP.NET MVC">
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h1>About this Blog</h1>
                <h4 class="text-muted">Leveraging the power of ASP.NET MVC</h4>
                <p>This project was designed to familiarize the developer (that's me!) with ASP.NET MVC projects. The relational database was created using the CodeFirst method and then incorporated into the standard Model-View-Controller pattern.  User authentication and security was set up with the help of the Entity Framework. C# provides behind-the-scenes functionality to support a front-end designed through HTML, CSS, and Javascript/jQuery.</p>
                <a href="http://www.github.com/abigailwest/WestBlog">View Project on GitHub</a><br/>
                <a href="http://awest.azurewebsites.net#portfolio">Check out my portfolio</a>
            </div>
        </div>
    </section>
</main>
